.bold {
  font-weight: bold !important;
}

.text-center {
  display: block !important;
  text-align: center !important;
}

.max-width-480 {
  max-width: 480px !important;
}

.min-width-320 {
  min-width: 320px !important;
}

.center {
  margin-left: auto !important;
  margin-right: auto !important;
}